@{
    ViewBag.Title = "Contact";
}
<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Contacto</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">Inicio</a> <span class="divider">/</span></li>
                    <li class="active">Contacto</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<p>&nbsp;</p>
<section id="contact-page" class="container">
    <div class="row-fluid">
        <div class="span3">
            <h4>Nuestra dirección</h4>
            @*<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>*@
            <p>
                <i class="icon-map-marker pull-left"></i> Carrera 7 No. 40 - 62<br>
                    Bogota,Colombia
            </p>
            <p>
                <i class="icon-envelope"></i> &nbsp;rivera.jorge@javeriana.edu.co
            </p>
            <p>
                <i class="icon-phone"></i> &nbsp;+57 3208320 
            </p>
            <p>
                <i class="icon-globe"></i> &nbsp;http://www.javeriana.edu.co/
            </p>
        </div>
    </div>
</section>
<p>&nbsp;</p>