@{
    ViewBag.Title = "Juego";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Juego.css">
<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Crear Tratamiento</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Inicio</a> <span class="divider">/</span></li>
                    <li><a href="#">Administración</a> <span class="divider">/</span></li>
                    <li><a href="#">Tratamiento</a> <span class="divider">/</span></li>
                    <li class="active">Crear</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="container main">
    <div class="row-fluid">
        <div class="span4">
            <h2>Juego</h2>
        </div>
    </div>
    <div>
        <label id="time">Tiempo:</label>
        <label id="Correcta">Correctas:</label>
        <label id="Error">Errores:</label>
        <label id="Instrucciones"></label>
    </div>
    <button id="Control" type="button" value="Jugar">Jugar</button>
    <input type="hidden" id="seleccionObjeto" value="si">
    <div id="ContainerJuego">
        <div class="Dif1"></div>
        <div class="Dif2"></div>
        <div class="Err1"></div>
        <div class="Dif3"></div>
        <div class="Dif4"></div>
        <div class="Dif5"></div>
        <div class="Dif6"></div>
        <div class="Dif7"></div>
        <div class="Err2"></div>
        <div class="Dif8"></div>
        <div class="Dif9"></div>
        <div class="Dif10"></div>
        <div class="Dif11"></div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/jquery.timer.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            JuegoDiferencias()
        });

        function JuegoDiferencias() {
            var htmlDiv = "";
            var dataPunto = "";
            var contador = 10;
            var contBuenas = 0;
            var contErrores = 0;
            var selected1, selected2, selected3, selected4, selected5, selected6, selected7, selected8, selected9, selected10, selectedE1, selectedE2 = false;
            document.getElementById("Instrucciones").innerHTML = 'Selecciona del cuadro de la izquierda las figuras con diferencias: ';

            $('#ContainerJuego').width(787);
            $('#ContainerJuego').height(369);
            //$('#ContainerJuego').addClass("Diferencias");
            $('#ContainerJuego').addClass("Diferencias");
            $('#ContainerJuego').mousemove(function (e) {
                var x = parseInt(e.pageX) - 280;
                var y = parseInt(e.pageY) - 361;
                $('#posicion_cursor').html("Pos x : " + x + " | Pos y : " + y);
                //alert("X:" + x + "Y:" + y);
            });
            if (contBuenas == contador) {
                alert("El juego termino");
            }
            $('.Dif1').click(function () {

                if (selected1 == true) {
                    if (contBuenas == contador) {
                        alert("El juego termino");
                    }
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected1 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Dif2').click(function () {

                if (selected2 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected2 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Err1').click(function () {

                if (selectedE1 == true) {
                    alert("ya habias seleccionado esta imagen");
                } else {
                    contErrores++;
                    selectedE1 = true;
                }
                document.getElementById("Error").innerHTML = 'Errores: ' + contErrores;
            });
            $('.Dif3').click(function () {

                if (selected3 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected3 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Dif4').click(function () {

                if (selected4 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected4 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Dif5').click(function () {

                if (selected5 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected5 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Dif6').click(function () {

                if (selected6 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected6 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Dif7').click(function () {
                if (selected7 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected7 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Err2').click(function () {
                if (selectedE2 == true) {
                    alert("ya habias seleccionado esta imagen");
                } else {
                    contErrores++;
                    selectedE2 = true;
                }
                document.getElementById("Error").innerHTML = 'Errores: ' + contErrores;
            });
            $('.Dif8').click(function () {
                if (selected8 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected8 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }

                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Dif9').click(function () {
                if (selected9 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected9 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });
            $('.Dif10').click(function () {
                if (selected10 == true) {
                    alert("ya habias seleccionado esta diferencia");
                } else {
                    contBuenas++;
                    selected10 = true;
                }
                if (contBuenas == contador) {
                    alert("El juego termino");
                }
                document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas;
            });



            var myVar = setInterval(function () { myTimer() }, 1000);
            var min = 0;
            var seg = 0;
            function myTimer() {
                seg++;
                if (seg == 61) {
                    seg = 1;
                    min++;
                }
                if (seg < 10)
                    segVar = '0' + seg;
                else
                    segVar = seg;
                if (min < 10)
                    minVar = '0' + min;
                else
                    minVar = min;

                document.getElementById("time").innerHTML = 'Tiempo: ' + minVar + ' : ' + segVar + ' seg.';
            }
        }

        function JuegoObjetos() {
            var ran = 0;
            var tamano = 4;
            var htmlDiv = "";
            var contador = 1;

            for (i = 1; i <= tamano; i++) {
                htmlDiv += '<div class="ImgenL1" data-Punto="'+ i +'"><img id="Objeto' + i + '" class="sprite-Help"/></div>';
            }
            $('#ContainerJuego').html(htmlDiv);

            $('#Control').click(function () {
                ran = Math.floor(Math.random() * (4 - 1 + 1)) + 1;
                PintarObjeto('', ran, 'sprite-Smile');
                var myVar = setInterval(function () {
                    PintarObjeto('sprite-Help', 8, '');
                    $('#seleccionObjeto').val(ran);
                    clearTimeout(myVar);
                }, (2000/contador));
            });

            $('.ImgenL1').click(function () {
                var calObjeto = $('#seleccionObjeto').val();
                var errorObjeto = $(this).attr('data-Punto');
                if ($(this).attr('data-Punto') == calObjeto) {
                    PintarObjeto('', calObjeto, 'sprite-Smile');
                } else {
                    PintarObjeto('', errorObjeto, 'sprite-Sad');
                }
                var myVar = setInterval(function () {
                    PintarObjeto('sprite-Help', 8, '');
                    clearTimeout(myVar);
                }, 1000);
                contador++;
            });
        }

        function PintarObjeto(TipoStyle, Posicion, JuegoStyle) {
            var tamano = 4;
            for (i = 1; i <= tamano; i++) {
                if (Posicion == i) {
                    $('#Objeto' + i).removeClass().addClass(JuegoStyle);
                } else {
                    $('#Objeto' + i).removeClass().addClass(TipoStyle);
                }
            }
        }

        function JuegoFlechas() {
            var tamano = 81;
            var ran;
            var htmlDiv = "";
            var dataPunto = "";
            var contador = 0;
            var contBuenas = 0;
            var contErrores = 0;

            for (i = 1; i <= tamano; i++) {
                ran = Math.floor(Math.random() * (8 - 1 + 1)) + 1;
                if (ran == 4) {
                    dataPunto = ' data-Punto="S" ';
                    contador++;
                } else {
                    dataPunto = ' data-Punto="N" ';
                }
                htmlDiv += '<div class="ImgFlecha FlechaP' + ran + '"' + dataPunto + '></div>';
            }
            $('#ContainerJuego').html(htmlDiv);

            $('.ImgFlecha').click(function () {
                if (contBuenas == contador) {
                    clearInterval(myVar);
                    alert('El juego termino');
                } else {
                    if ($(this).attr('data-Punto') == 'S') {
                        $(this).css('background-image', 'url(../images/FlechasSI.png)');
                        $(this).attr('data-Marca', 'S');
                        contBuenas++;
                    } else {
                        $(this).css('background-image', 'url(../images/FlechasNO.png)');
                        $(this).attr('data-Marca', 'N');
                        contErrores++;
                    }
                    document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas + ' de ' + contador;
                    document.getElementById("Error").innerHTML = 'Errores: ' + contErrores;
                    if (contBuenas == contador) {
                        clearInterval(myVar);
                        alert('El juego termino');
                    }
                }
            });

            var myVar = setInterval(function () { myTimer() }, 1000);
            var min = 0;
            var seg = 0;
            function myTimer() {
                seg++;
                if (seg == 61) {
                    seg = 1;
                    min++;
                }
                if (seg < 10)
                    segVar = '0' + seg;
                else
                    segVar = seg;
                if (min < 10)
                    minVar = '0' + min;
                else
                    minVar = min;

                document.getElementById("time").innerHTML = 'Tiempo: ' + minVar + ' : ' + segVar + ' seg.';
            }
        }

        function juegoFiguras() {

            var tamano = 81;
            var ran;
            var htmlDiv = "";
            var dataPunto = "";
            var contador = 0;
            var contBuenas = 0;
            var contErrores = 0;

            for (i = 1 ; i <= tamano ; i++) {
                ran = Math.floor(Math.random() * (8 - 1 + 1)) + 1;
              
                if (ran == 4) {
                    dataPunto = ' data-Punto="S" ';
                    contador++;
                } else {
                    dataPunto = ' data-Punto="N" ';
                }
                htmlDiv += '<div class="ImgFlecha CuadradoP' + ran + '"' + dataPunto + '></div>';
            }
            
            $('#ContainerJuego').html(htmlDiv);
            
            $('.ImgFlecha').click(function () {
                if (contBuenas == contador) {
                    clearInterval(myVar);
                    alert("El juego Termino");
                } else {
                    if ($(this).attr('data-punto') == 'S') {
                        $(this).css('background-image', 'url(../images/circuloSI.png)');
                        $(this).attr('data-Marca', 'S');
                        contBuenas++;
                    } else {
                        $(this).css('background-image', 'url(../images/CuadradoNO.png)');
                        $(this).attr('data-Marca', 'N');
                        contErrores++;
                    }
                    document.getElementById("Correcta").innerHTML = 'Correctas: ' + contBuenas + 'de' + contador;
                    document.getElementById("Error").innerHTML = 'Errores: ' + contErrores;
                    if (contBuenas == contador) {
                        clearInterval(myVar);
                        alert("El juego Termino");
                    }
                }
            })

            var myVar = setInterval(function () { myTimer() }, 1000);
            var min = 0;
            var seg = 0;
          
            function myTimer() {
                seg++;
                if (seg == 61) {
                    seg = 1;
                    min++;
                }
                if (seg < 10)
                    segVar = '0' + seg;
                else
                    segVar = seg;
                if (min < 10)
                    minVar = '0' + min;
                else
                    minVar = min;
                document.getElementById("time").innerHTML = 'Tiempo: ' + minVar + ':' + segVar + 'seg';
            }
        
    
        }
    </script>
}

