#ContainerJuego {
    width: 324px;
    height: 324px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #ffffff;
}

    #ContainerJuego div {
        float: left;
        background-repeat: no-repeat;
        list-style: none outside none;
        margin-bottom: 1px;
        margin: 1px;
        border: 1px solid #ffffff;
    }

        #ContainerJuego div:hover {
            border: 1px solid #808080;
            cursor: pointer;
        }

.FlechaP1 {
    background-image: url(../images/Flechas.png);
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}

.FlechaP2 {
    background-image: url(../images/Flechas.png);
    background-position: -37px 0px;
    width: 32px;
    height: 32px;
}

.FlechaP3 {
    background-image: url(../images/Flechas.png);
    background-position: -74px 0px;
    width: 32px;
    height: 32px;
}

.FlechaP4 {
    background-image: url(../images/Flechas.png);
    background-position: -111px 0px;
    width: 32px;
    height: 32px;
}

.FlechaP5 {
    background-image: url(../images/Flechas.png);
    background-position: -148px 0px;
    width: 32px;
    height: 32px;
}

.FlechaP6 {
    background-image: url(../images/Flechas.png);
    background-position: -185px 0px;
    width: 32px;
    height: 32px;
}

.FlechaP7 {
    background-image: url(../images/Flechas.png);
    background-position: -222px 0px;
    width: 32px;
    height: 32px;
}

.FlechaP8 {
    background-image: url(../images/Flechas.png);
    background-position: -259px 0px;
    width: 32px;
    height: 32px;
}

.sprite-Smile {
    background-image: url(../images/JuegoImg.png);
    background-repeat: no-repeat;
    list-style: none outside none;
    background-position: 0px 0px;
    width: 128px;
    height: 128px;
    margin-top: 14px !important;
    margin-left: 14px !important;
}

.sprite-Sad {
    background-image: url(../images/JuegoImg.png);
    background-repeat: no-repeat;
    list-style: none outside none;
    background-position: -138px 0px;
    width: 128px;
    height: 128px;
    margin-top: 14px !important;
    margin-left: 14px !important;
}

.sprite-Help {
    background-image: url(../images/JuegoImg.png);
    background-repeat: no-repeat;
    list-style: none outside none;
    background-position: -276px 0px;
    width: 128px;
    height: 128px;
    margin-top: 14px !important;
    margin-left: 14px !important;
}

.ImgenL1 {
    border-right: 1px solid #808080 !important;
    border-bottom: 1px solid #808080 !important;
    width: 157px;
    height: 157px;
    float: left;
}

.ImgenL2 {
    border-left: 1px solid #808080 !important;
    border-bottom: 1px solid #808080 !important;
    width: 157px;
    height: 157px;
}

.ImgenL3 {
    border-right: 1px solid #808080 !important;
    border-top: 1px solid #808080 !important;
    width: 157px;
    height: 157px;
}

.ImgenL4 {
    border-left: 1px solid #808080 !important;
    border-top: 1px solid #808080 !important;
    width: 157px;
    height: 157px;
}


/*Juego Figuras*/


/*Juego 2*/

.CuadradoP1 {
    background-image: url(../images/Cuadrado.png);
    width: 32px;
    height: 32px;
}

.CuadradoP2 {
    background-image: url(../images/Cuadrado.png);
    width: 32px;
    height: 32px;
}

.CuadradoP3 {
    background-image: url(../images/Cuadrado.png);
    width: 32px;
    height: 32px;
}

.CuadradoP4 {
    background-image: url(../images/circulo.png);
    width: 32px;
    height: 32px;
}

.CuadradoP5 {
    background-image: url(../images/Cuadrado.png);
    width: 32px;
    height: 32px;
}

.CuadradoP6 {
    background-image: url(../images/Cuadrado.png);
    width: 32px;
    height: 32px;
}

.CuadradoP7 {
    background-image: url(../images/Cuadrado.png);
    width: 32px;
    height: 32px;
}

.CuadradoP8 {
    background-image: url(../images/Cuadrado.png);
    width: 32px;
    height: 32px;
}

/*Diferencias*/

.Diferencias {
    background-image: url(../images/original.png);
}

.Dif1 {
    /*display:none;*/
    border-color:transparent;
    border-radius:70px;
    position:relative;
    right:-7px;
    bottom:-0px;
    height:131px;
    width:131px;
}
    
.Dif2 {
    border-color:red;
    position:relative;
    right:-15px;
    bottom:-0px;
    height:116px;
    width:106px;
} 
.Err1 {
    border-color:red;
    position:relative;
    right:-15px;
    bottom:0px;
    height:52px;
    width:104px;
} 
.Dif3 {
    border-color:red;
    position:relative;
    right:95px;
    bottom:-62px;
    height:71px;
    width:108px;
} 

.Dif4 {
    border-color:red;
    position:relative;
    right:453px;
    bottom:-131px;
    height:27px;
    width:38px;
} 
.Dif5 {
    border-color:red;
    position:relative;
    right:496px;
    bottom:-159px;
    height:98px;
    width:101px;
} 
.Dif6 {
    border-color:red;
    position:relative;
    right:497px;
    bottom:-123px;
    height:121px;
    width:139px;
} 
.Dif7 {
    border-color:red;
    position:relative;
    right:-141px;
    bottom:-20px;
    height:115px;
    width:85px;
} 
.Err2 {
    border-color:red;
    position:relative;
    right:217px;
    bottom:-138px;
    height:101px;
    width:104px;
} 
.Dif8 {
    border-color:red;
    position:relative;
    right:215px;
    bottom:-125px;
    height:114px;
    width:65px;
} 
.Dif9 {
    border-color:red;
    position:relative;
    right:215px;
    bottom:-125px;
    height:114px;
    width:90px;
} 
.Dif10 {
    border-color:red;
    position:relative;
    right:200px;
    bottom:-147px;
    height:92px;
    width:82px;
} 
