@model Sln.Models.Tratamiento

@{
    ViewBag.Title = "Create";
}

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Crear Intervención</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Inicio</a> <span class="divider">/</span></li>
                    <li><a href="#">Administración</a> <span class="divider">/</span></li>
                    <li><a href="#">Intervención</a> <span class="divider">/</span></li>
                    <li class="active">Crear</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="container main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row-fluid">
            <div class="span4">
                <p class="muted">
                    Nombre
                </p>
                <input type="text" name="Nombre" id="Nombre" required="required" class="input-block-level" placeholder="Digite el nombre del tratamiento" />
            </div>
        </div>

        <p class="muted">Descripción</p>
        <textarea rows="10" name="Descripcion" id="Descripcion" required="required" class="input-block-level" placeholder="Agregue una descripción"></textarea>
        <input type="submit" value="Guardar" class="btn btn-large btn-primary" />
        @Html.ActionLink("Cancelar", "Index", "Tratamiento", null, new { @class = "btn btn-large btn-primary" })

    }
</section>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
